<nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
    <div class="container">
        <a class="navbar-brand" href="../internal/dashboard.html">
            De Fynske <span>Vinentusiaster</span>
        </a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav"
                aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="oi oi-menu"></span> Menu
        </button>

        <div class="collapse navbar-collapse" id="ftco-nav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item"><a href="../internal/dashboard.html" class="nav-link">Dashboard</a></li>
                <li class="nav-item active"><a href="../internal/meeting.html" class="nav-link">Møder</a></li>
                <li class="nav-item"><a href="../internal/internalRatings.html" class="nav-link">Bedømmelser</a></li>
                <li class="nav-item">
                    <a href="#" id="logoutBtn" class="nav-link text-warning">
                        <i class="fa fa-sign-out"></i> Log ud
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
